.carousel-container .carousel-item.carousel-item-bg {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }
.carousel-container .carousel-caption {
  position: relative;
  left: auto;
  right: auto;
  bottom: auto;
  width: 100%;
  height: 100%;
  padding-bottom: 0;
  display: table;
  text-align: right; }
  .carousel-container .carousel-caption > .caption-cell {
    display: table-cell; }
    .carousel-container .carousel-caption > .caption-cell.caption-top {
      vertical-align: top; }
    .carousel-container .carousel-caption > .caption-cell.caption-center {
      vertical-align: middle; }
    .carousel-container .carousel-caption > .caption-cell.caption-bottom {
      vertical-align: bottom; }
.carousel-container .carousel-pagination > .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  margin: 0 10px;
  opacity: 1; }

/*# sourceMappingURL=yii.carousel.css.map */
