
.carousel-container {
	.carousel-item {
		&.carousel-item-bg {
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
		}
	}
	.carousel-caption {
		position: relative;
		left: auto;
		right: auto;
		bottom: auto;
		width: 100%;
		height: 100%;
		padding-bottom: 0;
		display: table;
		text-align: right;
		& > .caption-cell {
			display: table-cell;
			&.caption-top {
				vertical-align: top;
			}
			&.caption-center {
				vertical-align: middle;
			}
			&.caption-bottom {
				vertical-align: bottom;
			}
		}
	}
	.carousel-pagination {
		& > .swiper-pagination-bullet {
			width: 10px;
			height: 10px;
			margin: 0 10px;
			opacity: 1;
		}
	}
}
